@use "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
};

@theme {
  /* Brand Colors */
  --color-brand-primary: #0C1524;
  --color-brand-primary-hover: #121A33;

  --color-brand-secondary: #FFAE00;
  --color-brand-secondary-hover: #E69500;

  /* Backgrounds */
  --color-brand-background: #F7F7F7;
  --color-brand-surface: #F6F8FC;

  /* Sidebar */
  --color-sidebar: #071228;
  --color-sidebar-card: #10203F;
  --color-sidebar-hover: #16294D;

  /* Text */
  --text-accent: #FFFFFF;
  --text-accent-100: #3D4450;
  --color-text-secondary: #C6CCD6;

  /* Borders */
  --color-border-primary: #D5DBE4;
  --color-border-secondary: #262B30;
  --color-border-red-primary: #ff3d5a;

  /* States */
  --color-success: #41D8BF;
  --color-warning: #FFAE00;
  --color-error: #F87272;
}
